@charset 'UTF-8';
@import "~scss/base/mixins";

/* 官网首页 */
.page-home{
    
    /* 首页广告信息区域*/
    .home-information{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
    }

    /* 首页广告图 */
    .home-banner{
        width: 830px;
        height: 370px;
    }

    /* 公告区域 */
    .home-info{
        width: 350px;
        height: 370px;
        border: 1px solid $border-deep;
        border-bottom-width: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .home-article{
            padding: 18px;
            padding-top: 5px;
            border-bottom: 1px solid $border-deep;
        }
        /*最新公告 标题*/
        .home-article-title{
            margin: 0;
            line-height: 35px;
            border-bottom: 1px solid $border-deep;
            position: relative;
            padding-left: 12px;
            color: $base-color;
            margin-bottom: 8px;
            &::before{
                content: '';
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 80px;
                height: 3px;
                background-color: $base-color;
            }
        }
        /*公告条目*/
        .home-article-item{
            display: block;
            line-height: 30px;
        }
        /*个人中心入口导航*/
        .home-user-nav{
            display: flex;
            flex-wrap: wrap;
            .home-user-item{
                width: 50%;
                text-align: center;
                border-right: 1px solid $border-deep;
                border-bottom: 1px solid $border-deep;
                padding-top: 18px;
                font-size: 16px;
                &:nth-child(2n){
                    border-right-width: 0;
                }
            }
            .iconfont{
                font-size: 25px;
                color: $base-color;
            }
            p {
                padding-top: 5px;
                padding-bottom: 13px;
            }
        }
    }

    /*下单流程*/
    .home-flow{
       line-height: 50px;
       display: flex;
        align-items: center;
        justify-content: space-around;

       .home-flow-item{
            // float: left;
            background-color: $bg-grey;
            text-align: center;
            flex: 1;
            margin-right: 10px;
            position: relative;
            font-size: $f16;
            padding-left: 20px;
            &.active{
                background-color: $base-color;
                color: #fff;
                &::after{
                    border-left-color: $base-color;
                }
            }
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 0;
                display: block;
                border-width: 25px 20px;
                // border-left-width: 20px;
                // border-top-width: 25px;
                // border-bottom-width: 25px;
                border-style: solid;
                border-color: transparent;
                // border: 50px solid transparent;
                border-left-color: #fff;
            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                right: -40px;
                width: 0;
                height: 0;
                display: block;
                border-width: 25px 20px;
                // border-left-width: 20px;
                // border-top-width: 25px;
                // border-bottom-width: 25px;
                border-style: solid;
                border-color: transparent;
                // border: 50px solid transparent;
                border-left-color: $bg-grey;
                z-index: 1;
            }
            
            &:last-child{
                margin-right: 0;
                &::after{
                    border-left-width: 0; 
                }
            }
            &:first-child{
                &::before{
                    border-left-width: 0; 
                }
            }
            &.head{
                width: 300;
                flex: 2;
            }
       }
    }
    /*工程案例*/
    .home-introduce{
        display: flex;
        justify-content:space-between;
        min-height: 265px;
        .home-introduce-item{
            width: 32.5%;
            cursor: pointer;
            position: relative;
            &:hover{
                .home-introduce-text{
                    opacity: 1;
                    z-index: 1;
                }
            }
            // 案例图片
            .introduce-case-image{
                min-height: 155px;
            }
            .home-introduce-text{
                background-color: $base-color;
                color: $font-white;
                padding: 31px 32px 20px 26px;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: -1;
                transition: all .5s ease-in;
                opacity: 0;
                // display: none;
            }
            .introduce-text-title{
                font-size: $f16;
                line-height: 1.6;
            }
            .introduce-text-content{
                line-height: 1.5;
            }
            .introduce-date{
                position: absolute;
                left: 31px;
                bottom: 20px;
                font-size: 24px;
            }
            .introduce-icon{
                position: absolute;
                right: 32px;
                bottom: 20px;
            }
    
            .home-introduce-case{
                padding: 11px 18px 27px 18px;
                border: 1px solid $border-ad;
                transition: all .3s ease-in;
            }
        }
        
    }

    /*行业链接标题*/
    .home-links-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    /*行业链接轮播*/
    .home-carousel{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-bottom: 35px; 
        .iconfont{
            flex-basis: 30px;
            display: inline-block;
            height: 100%;
            text-align: center;
            cursor: pointer;
        }
    }

    
    /*行业案例列表*/
    .industry-list{
        
        // display: flex;
        // flex-wrap: nowrap;
        // justify-content: flex-start;
        // position: absolute;
        // left: 35px;
        // right: 35px;
        min-height: 60px;
        font-size: 0;
        flex: 1;
        overflow: hidden;
        // overflow-x: scroll;
        white-space: nowrap;
        // &::-webkit-scrollbar{
        //     width: 0;
        //     height: 0;
        // }
        
        
        &-item{
            display: inline-block;
            width: 238px;
            height: 60px;
            border: 1px solid $border-ad;
            margin: 0 23px;
            background: {
                repeat: no-repeat;
                position: center center;
                size: contain;
            }
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
