@charset "UTF-8";

// vue 数据未加载时避免显示占位符
[v-cloak] {
    display: none;
}
* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;       // 点击反馈延时
    -webkit-overflow-scrolling: touch;              // ios下弹性滑动
    outline: none;                                  // 外边框
}

html,
body {
    height: 100%;
    width: 100%;
    display: block;
    overflow: hidden;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	//-webkit-overflow-scrolling: auto;     // 滑动页面具有回弹效果
	-webkit-overflow-scrolling: touch;      // 滑动页面具有回弹效果
    -webkit-text-size-adjust: 100%;         // chrome内核浏览器 字体小于12px会保持12px 禁止浏览器调整字体大小
}

body{
    font-family: "Microsoft YaHei", "Microsoft YaHei UI Light", 'Avenir', "Helvetica Neue", "Helvetica", "Arial", "sans-serif" !important;
    font-size: 14px;
    line-height: 1.3;
	// min-width: 3.2rem;
	// max-width: 5.4rem;
	margin: 0 auto !important;
    background-color: $bg-white;
    position: relative;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    &:link,
    &:visited{
        color: $font-base;
    }
    &:hover,
    &:active{
        color: $blue-base;
    }
}