
@font-face {font-family: "iconfont";
  src: url('~scss/font/iconfont.eot?t=1500474300963'); /* IE9*/
//   src: url('~scss/fonts/iconfont.eot?t=1500474300963#iefix') format('embedded-opentype'), /* IE6-IE8 */
//   url('~scss/fonts/iconfont.woff?t=1500474300963') format('woff'), /* chrome, firefox */
  src: url('~scss/font/iconfont.ttf?t=1500474300963') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
//   url('iconfont.svg?t=1500474300963#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right:before { content: "\e619"; }

.icon-manage:before { content: "\e7a1"; }

.icon-qq:before { content: "\e60e"; }

.icon-weibo:before { content: "\e637"; }

.icon-jiantou1-copy:before { content: "\e7a5"; }

.icon-search:before { content: "\e621"; }

.icon-arrow-left:before { content: "\e669"; }

.icon-link:before { content: "\e631"; }

.icon-team:before { content: "\e600"; }

.icon-cart:before { content: "\e64a"; }

.icon-flow:before { content: "\e675"; }

.icon-wechat:before { content: "\e659"; }

.icon-project:before { content: "\e6ad"; }

.icon-tel:before { content: "\e611"; }

.icon-order:before { content: "\e650"; }
