@charset "utf-8";

$rem-size           : 100;

$base-color         : #017fce;
// $blue-base          : #017fce;
$blue-hover         : #0178c3;

$btn-blue           : #0079c9;

// font color
$font-base          : #333333;
$font-grey          : #999999;
$font-deepgrey      : #666666;
$font-lightgrey     : #cccccc;
$font-red           : #ff4f4f;

$font-white         : #ffffff;
$font-orange        : #ff9900;
$font-brown         : #f49900;
$font-pink          : #fe516a;
$font-lightgreen    : #00bea4;
$font-sea           : #148cf1;
$font-sky           : #49AFFF;

// line color
$border-color       : #e5e5e5;
$border-navbar      : #b2b2b2;
$border-tabbar      : #f7f7f7;
$border-deep        : #999999;
$border-ad          : #dfdfdf;

// bg color
$bg-white           : #ffffff;
$bg-body            : #eff3f6;
$bg-grey            : #f1f1f1;
$bg-tips            : #eaeaea;

// font 
$f10                : 10px;
$f12                : 12px;
$f14                : 14px;
$f16                : 16px;
$f18                : 18px;