@charset 'UTF-8';
@import "../base/mixins";
/* 关于我们 */
.page-about{
    .about-banner{
        img{
            width: 100%;
        }
    }
    .about-content{
        display: flex;
        justify-content: space-between;
        .about-menu{
            width: 220px;
            height: 500px;
            border: 1px solid black;
        }
        .about-info{
            width: 964px;
            height: 500px;
            border: 1px solid black;
        }
    }
}