.page-system{
    background: #F0F0F0;
    .about-banner{
        img{
            width: 100%;
        }
    }
    .container{
        position: relative;
        .header{
            text-align: center;
            font-weight: normal;
            margin: 28px;
            h1{
                margin-bottom: 8px;
            }
        }
        .systems-list{
            display: flex;
            justify-content: space-between;
            width: 100%;
            .systems-item{
                text-align: center;
                width: 400px;
                padding: 0 70px;
                i{
                    font-size: 80px;
                }
                &:hover{
                    background-color: #e5e5e5;
                    cursor: pointer;
                }
            }
            .line{
                border: 2px solid #eee;
                border-top: none;
                border-bottom: none;
            }
        }
        .system-content{
            margin-left: 350px;
            min-height: 400px;
            padding: 10px;
            .system-wrap{
                background: #fff;
                margin-bottom: 40px;
                line-height: 1.8;
                padding: 20px 10px;
                .system-top-info{
                    display: flex;
                    .left-info{
                        width: 70%;
                    }
                    .img-wrap{
                        width: 30%;
                        float: right;
                        padding: 60px 10px 0px;
                        img{
                            width: 100%;
                        }
                    }
                }
                .system-body-info{
                    .cutoff-line{
                        display: flex;
                        align-items: center;
                        h4{
                            color: #017FCE;
                            font-size: 18px;
                            width: 12%;
                            font-weight: normal;
                        }
                        .line{
                            border-top: 3px solid #E5E5E5; 
                            width: 88%;
                        }
                    }
                    .system-content-text{
                        display: flex;
                        justify-content: space-between;
                        .scene-img{
                            width: 30%;
                            img{
                                width: 100%;
                            }
                        }
                        .scene-list{
                            width: 100%;
                            ul{
                                width: 100%;
                                li{
                                    a{
                                        display: flex;
                                        justify-content: space-between;
                                    }
                                }
                            }
                        }
                    }
                    
                }
                .system-title{
                    width: 100%;
                    text-align: center;
                    font-size: 18px;
                    h2{
                        font-weight: normal;
                    }
                }
                .system-content-text{
                    text-indent: 28px;
                }
                
            }
        }
    }
}
.dot-menu{
    border-left: 2px solid #666666;
    width: 200px;
    position: absolute;
    right: -200px;
    top: 0;
    ul{
        li{
            display: flex;
            align-items: center;
            height: 25px;
            margin-bottom: 15px;
            .dot{
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background: #666666;
                margin: 0 20px 0 -5px;
            }
            &:hover{
                background-color: #e5e5e5;
                cursor: pointer;
            }
            &.active{
                .dot{
                    background: #017FCE;
                }
                span{
                    color: #017FCE;
                }
            }
        }
    }
}