@charset 'UTF-8';
@import "~scss/base/mixins";

.honor-page{
    .honor-list{
        @include clearfix();
    }
    .honor-item{
        width: 33.333%;
        height: 200px;
        float: left;
        // text-align: center;
        position: relative;
    }
    .honor-image{
        max-width: 80%;
        max-height: 80%;
        // vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }
}
