@charset "utf-8";
@import "../base/var";

/* 文字两侧横线 */
.line-through{
    padding: .05rem;
    fieldset{
        padding: 0;
        border-width: 0;
        border-top: .01rem solid #d0d0d0;
        margin: 0 .1rem;
        legend{
            background-color: $bg-body;
            text-align: center;
            padding:0 .16rem;
            font-size: .12rem;
        }
    }
    &.black{
        fieldset {
            border-top: .01rem solid #232326;
        }
    }
    &.absolute{
        position: absolute;
        width: 100%;
        bottom: .1rem;
    }
}
